.exercise-card-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0px 5% 0px 10%;
}

.exercise-card {
    outline: 1px solid green;
    padding: 5px 1px 0px 10px;
    margin: 5px 0px 20px 0px;
    width: 260px;
    height: 300px;
    box-shadow: -10px 15px rgba(33, 33, 33, .1) !important;
    text-transform: capitalize;
}

#gifUrl {
    max-width: 80%;
    max-height: 130px;
    margin-bottom: 15px;
}

.exercise-card-div-heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    color: white;
}

.exercise-card-div-heading>h1 {
    margin-top: 0px;
}

.add-exercise-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.exercise-name>p {
    margin-top: 5px;
}


.date-picker-div {
    display: block;
    text-align: center;
    position: relative;
}

.close-date-picker-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close-date-picker-button>button {
    margin-left: 10px;
}

@media all and (min-width: 1600px) {
    .exercise-card-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}


@media all and ((min-width: 900px) and (max-width:1600px)){
    .exercise-card-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media all and (max-width: 900px){
    .exercise-card-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media all and (max-width: 600px) {
    .exercise-card-div {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .exercise-card-div-heading {
        text-transform: capitalize;
        text-align: center;
        word-break: break-word;
        font-size: 20px;
        margin: 10px 10px
    }

    .exercise-card {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 15px;
        width: 260px;
        height: 250px;
        padding: 0px;
    }

    #gifUrl {
        height: 85px;
    }
}