.free-workout-form {
    margin-top: 25px;
}

.free-workout-form>h1 {
    text-align: center;
    color: white;
    text-decoration: underline;
    text-transform: capitalize;
}

.save-workout-button {
    margin-top: 10px;
    text-align: center;
}

#nameLabel, #typeLabel, #setsLabel, #repeatsLabel, #notesLabel, #durationLabel, #dateLabel {
    color: white;
    text-transform: capitalize;
    margin-top: 10px;
}

.free-workout-type>select {
    width: 250px;
    height: 30px;
    font-size: 18px;
    text-transform: capitalize;
}

.free-workout-notes {
    text-align: center;
}

.free-workout-notes>textarea {
    width: 300px;
    height: 150px;
    resize: none;
}

.form-gruops-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.free-workout-group1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}

.free-workout-group2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

@media all and (max-width: 650px) {
    .form-gruops-container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .free-workout-group1 {
        margin-right: 0px;
    }

    .free-workout-group2 {
        margin-left: 0px;
    }
}