.main-heading {
    color: #ff0000;
}

.user-page-component {
    display: grid;
    grid-template-columns: 35% 65%;
}

@media all and (max-width:900px) {
    .user-page-component {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
    }

    .user-profile {
        display: inline-block;
        text-align: center;
    }

    .user-profile-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        text-align: initial;
        text-transform: capitalize;
    }
}