.user-page-component {
    position: relative;
}

.main-heading {
    color: #ff0000;
}

.switch-components-button {
    margin-top: 10px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 100;
}

@media all and (max-width: 1500px) {
    .user-page-component {
        display: grid;
        grid-template-columns: 100%;
    }

    .single-exercise-detailed {
        margin: 20px;
        overflow-y: hidden;
    }

    .user-exercise-grid-split {
        margin-right: 0px;
    }

    .switch-components-button {
        margin-top: 10px;
        display: block;
        text-align: center;
        position: relative;
        z-index: 100;
    }
}

@media all and (max-width: 1200px) {
    .single-exercise-detailed {
        display: block;
    }

    .user-exercise-display {
        margin: 15px;
    }
    .switch-components-button {
        margin-top: 10px;
        display: block;
        text-align: center;
        position: relative;
        z-index: 100;
    }
}

@media all and (max-width: 750px) {
    .user-profile-details {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        margin-bottom: 30px;
    }

    .user-profile-details-part2 {
        margin-left: 0px;
        margin-top: 10px;
    }

    .MuiBox-root.css-tnqmi {
        margin-top: 0px;
    }

    .user-page-component {
        display: grid;
        grid-template-columns: 100%;
    }

    .switch-components-button {
        margin-top: 10px;
        display: block;
        text-align: center;
        position: relative;
        z-index: 100;
    }
}


@media all and (max-width: 650px) {
    .user-exercise-display {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: center;
        word-break: break-word;
        flex-wrap: wrap;
        position: relative;
    }

    .exercise-header {
        margin-top: 35px;
    }

    .switch-components-button {
        margin-top: 10px;
        display: block;
        text-align: center;
        position: relative;
        z-index: 100;
    }
}

@media all and (max-width: 400px) {
    .user-exercise-display>img {
        display: none;
    }

    .user-exercise-display { 
        flex-direction: row;
    }

}