section {
    overflow-x: hidden;
}


#menuButton{
    color: black;
    position: absolute;
    z-index: 999;
}

#closeMenuIcon{
    position: fixed;
    margin-top: 10px;
    color: black;
    z-index: 4;
}

