.layout{
    background-image: url("../../../assets/images/anastase-maragos-YVz1LxVJqoA-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}

section {
    overflow-x: hidden;
}


#menuButton{
    color: black;
    position: absolute;
    z-index: 999;
}

#closeMenuIcon{
    position: fixed;
    margin-top: 10px;
    color: black;
    z-index: 4;
}

