section {
    overflow-x: hidden;
}


#menuButton {
    color: black;
    position: absolute;
    z-index: 999;
}

#closeMenuIcon {
    position: fixed;
    margin-top: 40px;
    color: black;
    z-index: 4;
}

.layout {
    background-image: url("../../../../public/anastase-maragos-YVz1LxVJqoA-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}