.user-profile{
    color: white;
}

#userProfileLabels{
    color: white;
    text-transform: capitalize;
}

.user-profile-user-name-display{
    text-transform: capitalize;
    text-decoration: underline;
}
