.admin-dashbord-introduction>h1 {
    text-align: center;
}

.admin-dashbord-introduction>h1 {
    font-size: 30px;
    text-decoration: underline;
    text-transform: capitalize;
    margin: 10px 0px;
}

.admin-dashbord {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max-content;
}

.admin-component-diversion {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 92vh;
}

.user-list-admin-component {
    align-items: center;
    margin-right: 40px;
    height: 90%;
    box-shadow: -5px -5px 15px rgba(33, 33, 33, .7);
}

.public-complaints {
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 40px;
    margin-top: 0px;
    box-shadow: -5px 5px 15px rgba(33, 33, 33, .7);
}

.public-complaints>h1 {
    text-align: center;
    margin-bottom: 10px;
}

.task-list-container{
    margin-top: 40px;
}

.admin-tasks {
    width: 50%;
    margin: auto;
    padding: 10px 10px;
    background-color: #ffd814;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-list-header {
    font-family: 'El Messiri', sans-serif;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.task-item{ 
    list-style-type: none;
    text-transform: capitalize;
}

#newTasks{
    margin-right: 15px;
}

.delete-task-icon {
    cursor: pointer;
    margin-right: 5px;
}
