section {
    overflow-x: hidden;
    width: 100%;
    border: 2px solid red;
}


#menuButton{
    color: black;
}

#closeMenuIcon{
    position: fixed;
    margin-top: 10px;
    color: black;
    z-index: 4;
}

