.video-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.iframe-video{
    width: 600px;
    height: 400px;
}

.enter-contest-div{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}