.menu {
    position: fixed;
    left: 0;
    width: 210px;
    height: 100vh;
    background-color: white;
    border: 1px solid black;
    padding-top: 60px;
    padding-left: 15px;
    z-index: 4;
    text-transform: capitalize;
    overflow-y: auto;
}

.hello-span {
    margin-right: 5px;
}

.home-span {
    margin-left: 10px;
}

ul > li.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    color: #1976d2;
}

h4{
    margin: 10px 0px 10px 0px;
}

.main-heading-menu > h1{
    margin-bottom: 0px;
    font-size: 25px;
    color: #cd0000;
}

.main-heading-menu > p{
    margin-top: 0px;
    text-decoration: underline;
    font-size: 13px;
    color: #cd0000;
}
