.regsiter-button {
    text-align: center;
}

form>select {
    width: 100%;
    height: 50px;
    font: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}

label.MuiInputLabel-root.MuiInputLabel-animated.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-15dqw82-MuiFormLabel-root-MuiInputLabel-root{
    font-weight: 700;
}
.role-label {
    color: whitesmoke;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
    display: block;
    transform-origin: top left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

}

.css-13i4rnv-MuiGrid-root > a {
    color: rgb(0, 225, 255);
    text-decoration: underline;
    text-transform: capitalize;
}