.login-form {
    margin-top: 10px;
}

.login-form>label {
    position: relative;
    color: white;
    font-size: 20px;
}

.button {
    text-align: center;
}

.css-jx3bpn>a {
    color: blue;
    text-decoration: underline;
    text-transform: capitalize;
}

#signUpLink {
    text-decoration: none;
    position: relative;
    z-index: 999;
}

.login-page-bottom-section {
    display: flex;
    justify-content: center;
}

#forgotPassword {
    margin-right: 50px;
}

.forgot-password-email-input > input {
    color: black;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root>.forgot-password-modal-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center
}

.forgot-password-modal-title>.css-1sszw6i-MuiButtonBase-root-MuiButton-root {
    margin-left: 80px;
}