.login-form {
    margin-top: 10px;
}

.button {
    text-align: center;
}

.css-jx3bpn>a {
    color: blue;
    text-decoration: underline;
    text-transform: capitalize;
}

.sign-up-link {
    text-decoration: none;
    color: blue;
    margin-right: 50px;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root>.forgot-password-modal-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center
}

.forgot-password-modal-title > .css-1sszw6i-MuiButtonBase-root-MuiButton-root{
    margin-left: 80px;
}
