@import "react-slideshow-image/dist/styles.css";

.gallery-heading {
    text-align: center;
    text-decoration: underline;
    position: relative;
    color: white;
}

.gallery-main-container {
    display: grid;
    text-align: center;
    grid-template-columns: 20% 60% 20%;
    margin-top: 50px;
    position: relative;
}

.react-slideshow-container {
    width: 100%;
    margin: auto;
}

.image-in-gallery {
    max-height: 630px;
    width: 100%;
}

.slide-image-span {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: whitesmoke;
}

.problem-with-image {
    width: 250px;
    height: 150px;
    word-break: break-word;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.gallery-select {
    width: 250px;
    height: 30px;
    font-size: 16px;
    position: relative;
}

.image-problem-first-name, .image-problem-last-name, .image-problem-email {
    margin-bottom: 10px;
    position: relative;
}

.image-problem-first-name, .image-problem-last-name, .image-problem-email>input.MuiInput-input {
    color: black;
}

#inputUnstyled {
    color: white;
}

#labelFirstName {
    margin-right: 155px;
    position: relative;
    color: whitesmoke;
    font-size: 15px;
}

#labelLastName {
    margin-right: 155px;
    position: relative;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 5px;
}

#labelEmail {
    margin-right: 195px;
    position: relative;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 5px;
}

#labelCategory {
    margin-right: 170px;
    position: relative;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 5px;
}

.file-upload-in-gallery {
    position: relative;
    color: whitesmoke;
    word-break: break-word;
    margin: 0px 5px;
}

.file-upload-in-gallery>label {
    font-weight: 700;
    font-size: 20px;
}

.file-upload-in-gallery>input {
    font-size: 20px;
}

.gallery-aside-form {
    color: whitesmoke;
}

@media all and (max-width: 1400px) {
    .gallery-main-container {
        display: grid;
        text-align: center;
        grid-template-rows: 20% 80%;
        grid-template-columns: 100%;
        margin-top: 0px;
    }

    .react-slideshow-container {
        display: inline-block;
        width: 75%;
    }

    .gallery-aside-form {
        display: none;
    }
}

@media all and(max-width:1200px) {
    .slide-container {
        margin-top: 50px;
    }
}

@media all and (max-width: 900px) {
    .slide-container {
        margin-top: 50px;
    }

    .gallery-aside-form {
        display: none;
    }

    .file-upload-in-gallery {
        display: block;
    }

    .react-slideshow-container {
        display: inline-block;
        width: 75%;
    }

    .gallery-main-container {
        display: grid;
        text-align: center;
        margin-top: 0px;
    }
}

@media all and (max-width:550px) {
    .slide-container {
        margin-top: 70px;
    }
}