.bodyParts>.css-bhp9pd-MuiPaper-root-MuiCard-root {
    margin: 20px;
    height: 230px;
    width: 250px;
    text-transform: capitalize;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.bodyParts>.css-bhp9pd-MuiPaper-root-MuiCard-root:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.body-part-image{
    margin-top: 30px;
    height: 40%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}