.user-exercise {
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-exercise-grid-split {
    margin-right: 30px;
}

.exercise-header{
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}

.single-exercise-detailed {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90%;
}

.user-exercise-display {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    word-break: break-word;
    margin: 5px;
    height: 150px;
}

.user-exercise-display>img {
    display: block;
    height: 150px;
    width: 100px;
}

.actions-new-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.user-exercises-exercise-name {
    width: 160px;
}

.check-exercise-status-dialog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}