.main {
    overflow-y: auto;
}

.main-heading {
    margin-top: 35px;
    margin-left: 30px;
    position: relative;
}

.main-heading>h1 {
    font-size: 45px;
    margin: 0px;
    text-transform: capitalize;
}

.main-heading>p {
    margin: 0px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
}

.second-heading {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    position: relative;
    z-index: 100;
    color: whitesmoke;
}

.select-lists-options {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 115px;
    text-transform: capitalize;
    height: 35px;
}

.select-lists-options>p {
    font-size: 22px;
    margin-right: 20px;
}

.type-select {
    text-transform: capitalize;
    width: 215px;
    background-color: white;
    height: 35px;
    font-size: 20px;
    margin-right: 20px;
}

.exercise-main {
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    margin: 0px 100px;
}


.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.notify-exercises {
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 150px;
}

.exercise-name-list {
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.exercise-name-list>h1 {
    margin-bottom: 8px;
    text-decoration: underline;
}

.exercise-details {
    text-align: center;
    padding: 0px 15px;
    margin-top: 65px;
}

.css-ij0a56-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
    margin-bottom: 10px !important;
}

.name-list-item {
    padding-left: 20px;
    list-style-type: none;
    font-weight: 600;
}

.exercise-details-main {
    text-transform: capitalize;
}

.exercise-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0px;
}

.exercise-options-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.exercise-details-secondary {
    overflow-y: auto;
    max-height: 300px;
}


@media all and (max-width: 1400px) {
    .select-lists-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-right: 0px;
        text-transform: capitalize;
        height: 30px;
    }

    .exercise-name-list {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .exercise-name-list>h1 {
        display: none;
    }

    .exercise-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0px 50px;
    }

    .exercise-name-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
    }

    .exercise-details {
        margin-top: 0px;
    }
}

@media all and (max-width: 650px) {

    .second-heading>h1 {
        margin-bottom: 0px;
    }

    .select-lists-options>p {
        display: none;
    }

    .type-select {
        font-size: 20px;
    }

    #getExerciseButton {
        font-size: 12px;
    }

    .exercise-name-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: auto;
    }

    .video-component {
        margin-top: 20px;
    }

    .iframe-video {
        height: 300px;
        width: 400px;
        margin: auto;
    }
}