.main {
    overflow-y: auto;
}

.main-heading {
    margin-top: 35px;
    margin-left: 30px;
    position: relative;
}

.main-heading>h1 {
    font-size: 45px;
    margin: 0px;
    text-transform: capitalize;
}

.main-heading>p {
    margin: 0px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
}

.second-heading {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    position: relative;
    z-index: 100;
    color: whitesmoke;
}

.select-lists-options {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 115px;
    text-transform: capitalize;
    height: 35px;
}

.select-lists-options>p {
    font-size: 22px;
    margin-right: 20px;
}

.type-select {
    text-transform: capitalize;
    width: 215px;
    background-color: white;
    height: 35px;
    font-size: 20px;
    margin-right: 20px;
}

.exercise-main {
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    margin: 0px 100px;
}

.exercise-card {
    width: 320px;
    height: 310px;
    margin: 10px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.exercise-card>h1, h2, h3 {
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
}

.exercise-card>h1 {
    font-size: 20px;
}

.exercise-card>h2 {
    font-size: 18px;
}

.exercise-card>h3 {
    font-size: 16px;
}

.exercise-card>p {
    margin: 8px 0px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.notify-exercises {
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 150px;
}

.exercise-name-list {
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.exercise-name-list > h1 {
    margin-bottom: 8px;
}

.exercise-details {
    text-align: center;
    padding: 0px 15px;
    margin-top: 30px;
}

.css-ij0a56-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type {
    margin-bottom: 10px !important;
}

.name-list-item {
    padding-left: 20px;
    list-style-type: none;
}

.exercise-details-main {
    text-transform: capitalize;
}

.exercise-details-main>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.muscle-button {
    margin-left: 10px !important;
}

@media all and (min-width: 1500px) {}

@media all and (max-width: 1500px) {}

@media all and (max-width: 1210px) {}

@media all and (max-width: 900px) {}

@media all and (max-width: 600px) {

    .second-heading>h1 {
        margin-bottom: 0px;
    }

}