.main {
    overflow-y: auto;
}

.main-heading {
    margin-top: 35px;
    margin-left: 30px;
    position: relative;
}

.main-heading>h1 {
    font-size: 45px;
    margin: 0px;
    text-transform: capitalize;
}

.main-heading>p {
    margin: 0px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
}

.second-heading {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    position: relative;
    z-index: 100;
    color: whitesmoke;
}

.select-lists-options {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    text-transform: capitalize;
}

.select-lists-options > p{
    font-size: 22px;
}

.level-select, .type-select {
    text-transform: capitalize;
    width: 210px;
    background-color: white;
    height: 35px;
    font-size: 20px;
}

.level-select-div > label,  .type-select-div > label {
    margin-right: 10px;
    font-size: 20px;
}

.exercise-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.exercise-card {
    width: 300px;
    height: 320px;
    margin: 10px;
}

@media all and (min-width: 1500px) {
    /* .body-parts-main {
        overflow-y: auto;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .bodyParts>.css-s18byi {
        margin: 15px;
        height: 200px;
        width: 220px;
        text-transform: capitalize;
        text-align: center;
        border-radius: 10px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    } */

}

@media all and (max-width: 1500px) {
    /* .body-parts-main {
        overflow-y: auto;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin: 15px;
    }

    .bodyParts>.css-s18byi {
        margin: 15px;
        height: 200px;
        width: 220px;
        text-transform: capitalize;
        text-align: center;
        border-radius: 10px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    } */

}

@media all and (max-width: 1210px) {
    /* .body-parts-main {
        overflow-y: auto;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin: 15px;
    }

    .bodyParts>.css-s18byi {
        margin: 15px;
        height: 200px;
        width: 220px;
        text-transform: capitalize;
        text-align: center;
        border-radius: 10px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    } */
}

@media all and (max-width: 900px) {
    /* .body-parts-main {
        overflow-y: auto;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 15px;
    }

    .bodyParts>.css-s18byi {
        margin: 15px;
        width: 150px;
        height: 200px;
        text-transform: capitalize;
        text-align: center;
        border-radius: 10px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    } */
}

@media all and (max-width: 600px) {

    .second-heading>h1 {
        margin-bottom: 0px;
    }

    /* .body-parts-main {
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0px 15px;
    }

    .bodyParts>.css-s18byi {
        margin: 15px;
        width: 150px;
        height: 200px;
        text-transform: capitalize;
        text-align: center;
        border-radius: 10px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    } */
}